.students-page {
    padding: 50px;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
}

.students-page h2 {
    margin-bottom: 20px;
}

.students-table {
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    border-left: 1px solid black;
}

hr {
    margin: 200px 0;
    
}

.students-page input {
    width: 200px;
    margin: 15px 0 20px 0;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #bdc3c7;
    outline: none;
}

.students-page-card {
    padding: 20px;
    height: 100%;
    width: 90%;

}

.profile-icon {
    font-size: 20px;
    margin-left: 15px;
    color: black;
}

a {
    text-decoration: none;
}