.admin-page {
    padding: 40px;
}

.admin-page-content input {
    width: 200px;
    margin: 15px 0 20px 0;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #bdc3c7;
    outline: none;
}

.admin-page .admin-page-content .add-button a {
    color: #fff;
}

.admin-page .admin-page-content .add-button {
    color: #ffffff;
    background-color: #2ecc71;

    font-size: 15px;

    width: 180px;
    border-radius: 8px;
    padding: 15px;

    transition: 0.3s;
}

.admin-page .admin-page-content .add-button:hover {
    background-color: #27ae60;
}